/* *** *** *** Colors *** *** *** */
$white: #FFFFFF;
$black: #000000;
$darkBlue: #283849;
$hoverBlue: #384C61;
$lightBlue: #8091A5;
$lineBlue: #E9EFF4;
$grey: #4A4A4A;
$lightGrey: #DFE6EE;
$pink: #FFBCBC;
$admin: #F9fdff;
$inputText: #B2B2B2;

/* *** *** *** Font *** *** *** */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,300i,400,600,700,900');
$fontTitilli: 'Titillium Web', sans-serif;
$fontExtraLight: 200;
$fontLight: 300;
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;
$fontBlack: 900; 

/* *** *** *** Zero *** *** *** */
*{
    margin: 0;
    padding: 0;
}

/* *** *** *** Header *** *** *** */
h1, .h1{
    font-family: $fontTitilli;
    font-weight: $fontSemiBold;
    font-size: 40px;
    color: $darkBlue;
    letter-spacing: 0;
    line-height: 50px;
}
h2, .h2{
    font-family: $fontTitilli;
    font-weight: $fontExtraLight;
    font-size: 22px;
    color: $grey;
    letter-spacing: 0;
}
h3, .h3{
    font-family: $fontTitilli;
    font-weight: $fontSemiBold;
    font-size: 22px;
    color: $darkBlue;
    letter-spacing: -0.41px;
    line-height: 50px;
}
h4, .h4{
    font-family: $fontTitilli;
    font-weight: $fontSemiBold;
    font-size: 16px;
    color: $darkBlue;
    letter-spacing: 0;
}
h5, .h5{
    font-family: $fontTitilli;
    font-weight: $fontSemiBold;
    font-size: 14px;
    color: $lightBlue;
    letter-spacing: -0.26px;
    line-height: 20px;
}
p, .p{
    font-family: $fontTitilli;
    font-weight: $fontLight;
    font-size: 20px;
    color: $black;
    letter-spacing: 0;
    line-height: 32px;
}
button {
    outline: none;
    border: none;
}
.like{
    font-family: $fontTitilli;
    font-weight: $fontSemiBold;
    font-size: 12px;
    color: $pink;
    letter-spacing: 1px;
    margin-left: 11px;
    &::before{
        // content: url('blackCarrot.png');
        width: 14px;
        margin-right: 11px;
    }
}

/* *** *** *** Buttons *** *** *** */
.btnNone{
    margin: 0 40px;
    border: none;
    text-transform: uppercase;
    font-family: $fontTitilli;
    font-weight: $fontSemiBold;
    font-size: 12px;
    color: $lightBlue;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
}
.btnDark {
    width: 140px;
    height: 40px;
    background: $darkBlue;
    color: $white;
    text-transform: uppercase;
    font-family: $fontTitilli;
    font-weight: $fontSemiBold;
    font-size: 12px;
    color: $white;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
}
.btnLight{
    width: 140px;
    height: 40px;
    border: 1px solid $lightGrey;
    text-transform: uppercase;
    font-family: $fontTitilli;
    font-weight: $fontSemiBold;
    font-size: 12px;
    color: $darkBlue;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
}
.btnWhite{
    height: 50px;
    text-transform: uppercase;
    font-family: $fontTitilli;
    font-weight: $fontSemiBold;
    font-size: 12px;
    color: $white;
    letter-spacing: 1;
    background-color: transparent;
    border: 1px solid $white;
    text-decoration: none;
}
.btnAdminDark{    
    width: 219px;
    height: 60px;
    line-height: 60px;
    font-family: $fontTitilli;
    font-weight: $fontSemiBold;
    font-size: 13px;
    color: $white;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
    background-color: $darkBlue;
    border-left: 1px solid $hoverBlue;
    &:hover {
        background-color: $hoverBlue;
    }
}
.btnLogo{
    padding: 0;
}

.divWhiteBox{
    max-width: 1125px;
    background: #FFFFFF;
    box-shadow: 4px 6px 20px 0 rgba(49,86,126,0.08);
}

.lineLeft{
    border-left: 1px solid $lightBlue;
    img{
        margin-left: 40px;
        margin-right: 10px;
    }
}

.logo{
    margin-left: 20px;
    margin-top: 6px;
    img {
        width: 130px;
    }
}
.hideInput {
    display: none;
}