@charset "UTF-8";
/*
  *** Author: Katrin D. Sigurðardóttir
  *** Date: April 2018
*/
/*====================================================*/
/* *** *** *** Colors *** *** *** */
/* *** *** *** Font *** *** *** */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,300i,400,600,700,900");
/* *** *** *** Zero *** *** *** */
* {
  margin: 0;
  padding: 0; }

/* *** *** *** Header *** *** *** */
h1, .h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #283849;
  letter-spacing: 0;
  line-height: 50px; }

h2, .h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-size: 22px;
  color: #4A4A4A;
  letter-spacing: 0; }

h3, .h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #283849;
  letter-spacing: -0.41px;
  line-height: 50px; }

h4, .h4 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #283849;
  letter-spacing: 0; }

h5, .h5 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #8091A5;
  letter-spacing: -0.26px;
  line-height: 20px; }

p, .p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  line-height: 32px; }

button {
  outline: none;
  border: none; }

.like {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #FFBCBC;
  letter-spacing: 1px;
  margin-left: 11px; }
  .like::before {
    width: 14px;
    margin-right: 11px; }

/* *** *** *** Buttons *** *** *** */
.btnNone {
  margin: 0 40px;
  border: none;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #8091A5;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none; }

.btnDark {
  width: 140px;
  height: 40px;
  background: #283849;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none; }

.btnLight {
  width: 140px;
  height: 40px;
  border: 1px solid #DFE6EE;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #283849;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none; }

.btnWhite {
  height: 50px;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 1;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  text-decoration: none; }

.btnAdminDark {
  width: 219px;
  height: 60px;
  line-height: 60px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  background-color: #283849;
  border-left: 1px solid #384C61; }
  .btnAdminDark:hover {
    background-color: #384C61; }

.btnLogo {
  padding: 0; }

.divWhiteBox {
  max-width: 1125px;
  background: #FFFFFF;
  box-shadow: 4px 6px 20px 0 rgba(49, 86, 126, 0.08); }

.lineLeft {
  border-left: 1px solid #8091A5; }
  .lineLeft img {
    margin-left: 40px;
    margin-right: 10px; }

.logo {
  margin-left: 20px;
  margin-top: 6px; }
  .logo img {
    width: 130px; }

.hideInput {
  display: none; }

/*====================================================*/
/*====================================================*/
.headerToolbar {
  background: #FFFFFF;
  width: 99%;
  height: 100px;
  box-shadow: 0 2px 10px 0 rgba(128, 145, 165, 0.08);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center; }
  .headerToolbar .navbar-items {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; }
    .headerToolbar .navbar-items .navbar-signin-signup {
      display: flex;
      flex-flow: row; }
      .headerToolbar .navbar-items .navbar-signin-signup button {
        margin: 0 5px; }

/*====================================================*/
/*====================================================*/
.front-page {
  width: 100vw;
  background-image: url("/images/background/frontpage.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .front-page .front-hero {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("/images/background/frontHero.png");
    background-repeat: no-repeat;
    background-size: cover; }
    .front-page .front-hero .front-hero-text {
      max-width: 410px;
      padding-left: 195px;
      padding-top: 150px; }
      .front-page .front-hero .front-hero-text h1 {
        color: white; }
      .front-page .front-hero .front-hero-text p {
        color: #FFFFFF;
        margin-top: 15px;
        margin-bottom: 20px; }
      .front-page .front-hero .front-hero-text .btnWhite {
        width: 240px; }
        .front-page .front-hero .front-hero-text .btnWhite img {
          margin-left: 15px; }
  .front-page .front-new-pieces {
    width: 100%;
    height: 750px;
    display: inline-flex;
    position: relative; }
    .front-page .front-new-pieces .divWhiteBox {
      width: 60%;
      height: 726px;
      position: absolute;
      top: -60px;
      left: 0; }
    .front-page .front-new-pieces .front-new-pieces-info {
      margin-top: 110px;
      width: 40%;
      margin-left: 60%;
      padding-left: 3%; }
      .front-page .front-new-pieces .front-new-pieces-info h1, .front-page .front-new-pieces .front-new-pieces-info p {
        max-width: 500px;
        width: 94%;
        margin-bottom: 30px; }
  .front-page .front-artist {
    width: 100%;
    height: 1920px; }
    .front-page .front-artist .divWhiteBox {
      height: 1900px;
      margin: 0 auto; }
      .front-page .front-artist .divWhiteBox .front-artist-intro {
        width: 100%;
        height: 500px;
        position: relative;
        display: inline-flex; }
        .front-page .front-artist .divWhiteBox .front-artist-intro .front-artist-info {
          max-width: 350px;
          margin-top: 30px;
          margin-left: 70px; }
          .front-page .front-artist .divWhiteBox .front-artist-intro .front-artist-info p {
            font-size: 16px;
            line-height: 26px; }
        .front-page .front-artist .divWhiteBox .front-artist-intro .front-artist-images {
          width: 800px;
          height: 504px;
          background-image: url("/images/artists/minervaBrown.png");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: -40px;
          right: -160px; }
      .front-page .front-artist .divWhiteBox .front-artist-work {
        margin: 50px 70px; }
        .front-page .front-artist .divWhiteBox .front-artist-work .front-artist-carousel {
          width: 100%;
          height: 700px;
          margin-top: 10px; }
        .front-page .front-artist .divWhiteBox .front-artist-work .front-artist-work-info {
          margin-bottom: 70px; }
          .front-page .front-artist .divWhiteBox .front-artist-work .front-artist-work-info p {
            font-size: 16px;
            line-height: 26px;
            margin-top: 30px; }
            .front-page .front-artist .divWhiteBox .front-artist-work .front-artist-work-info p img {
              margin-left: 27px; }
              .front-page .front-artist .divWhiteBox .front-artist-work .front-artist-work-info p img:first-child {
                margin-left: 85px; }
  .front-page .front-instagram {
    width: calc(100% - 120px);
    height: 350px;
    padding: 100px 60px; }
    .front-page .front-instagram h4 img {
      margin-right: 11px; }
    .front-page .front-instagram .front-instagram-list {
      display: flex;
      justify-content: space-around; }
      .front-page .front-instagram .front-instagram-list div {
        margin: 10px 10px; }
        .front-page .front-instagram .front-instagram-list div:first-child {
          margin-left: 0; }
        .front-page .front-instagram .front-instagram-list div:last-child {
          margin-right: 0; }

/*====================================================*/
/*====================================================*/
#signUp {
  width: 100%;
  background-color: rgba(40, 56, 73, 0.5);
  padding-bottom: 85px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100px; }

#formSignUp {
  width: 720px;
  margin-top: 55px;
  background-color: #FFFFFF; }
  #formSignUp .formSignUp__header {
    width: 100%;
    height: 135px;
    padding-top: 30px;
    background-color: #F9FDFF;
    position: relative; }
    #formSignUp .formSignUp__header__close {
      position: absolute;
      top: 30px;
      right: 30px; }
    #formSignUp .formSignUp__header__logo {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      background-image: url("/images/logo/logoBox.svg");
      background-repeat: no-repeat;
      background-size: cover; }
    #formSignUp .formSignUp__header h2 {
      text-align: center;
      font-size: 20px; }
  #formSignUp .signUpForm {
    width: 70%;
    margin: 65px 15%; }
  #formSignUp input {
    width: 100%;
    height: 35px;
    margin: 14px 0;
    border: none;
    border-bottom: 1px solid #DFE6EE;
    outline: none; }
  #formSignUp input.custom-file-input {
    border-bottom: none;
    height: 65px; }
  #formSignUp textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #DFE6EE; }
  #formSignUp .h5 {
    font-weight: 400; }
  #formSignUp .signUpTwoInLine {
    width: 100%;
    display: inline-flex; }
    #formSignUp .signUpTwoInLine input {
      width: 48%; }
      #formSignUp .signUpTwoInLine input:first-child {
        margin-right: 4%; }
  #formSignUp button {
    width: 100%;
    margin-top: 25px; }
  #formSignUp .user_image_upload {
    width: 262px;
    margin-top: 10px; }
  #formSignUp .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
    outline: none; }
  #formSignUp .custom-file-input::before {
    content: 'Select a image from your files';
    display: inline-block;
    background: #283849;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    padding: 9px 40px 9px 40px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
    height: 66px;
    margin-top: 30px; }
  #formSignUp .custom-file-input:hover::before {
    background: #384C61; }
  #formSignUp .custom-file-input:active::before {
    background: #384C61; }

/*====================================================*/
/*====================================================*/
.admin-chat {
  width: 100vw;
  background: #F9fdff;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px; }
  .admin-chat .userChat {
    width: 60%;
    margin: 0 auto;
    padding: 1px;
    box-shadow: 4px 6px 20px 0 rgba(128, 145, 165, 0.08);
    background: #E9EFF4; }
    .admin-chat .userChat .socketChat ul {
      background: #FFFFFF;
      height: 300px;
      overflow: scroll;
      padding: 10px; }
    .admin-chat .userChat form {
      background: #dfe6ee;
      border: 1px solid #dfe6ee;
      width: 100%;
      margin: 0 auto; }
    .admin-chat .userChat .chat-form {
      padding-top: 20px;
      padding-bottom: 20px;
      height: 100px; }
      .admin-chat .userChat .chat-form .chat-inputs {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%; }
        .admin-chat .userChat .chat-form .chat-inputs .nameInput input {
          width: 300px;
          padding: 10px;
          outline: none;
          margin-left: 20px;
          font-size: 14px; }
        .admin-chat .userChat .chat-form .chat-inputs .messageInput input {
          width: 450px;
          padding: 10px;
          margin-right: 20px;
          outline: none;
          font-size: 14px; }
        .admin-chat .userChat .chat-form .chat-inputs input::-webkit-input-placeholder {
          color: #8091A5; }
      .admin-chat .userChat .chat-form .chat-info-send {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px; }
        .admin-chat .userChat .chat-form .chat-info-send p {
          font-size: 16px; }
    .admin-chat .userChat #messages {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .admin-chat .userChat #messages li {
      font-size: 18px;
      padding: 10px 20px;
      border-radius: 25px;
      color: #283849;
      background-color: #E9EFF4;
      max-width: 600px;
      width: fit-content;
      position: relative;
      margin: 15px 10px;
      word-break: break-all; }
    .admin-chat .userChat #messages li:nth-child(odd) {
      font-size: 18px;
      padding: 10px 20px;
      border-radius: 25px;
      color: #283849;
      background-color: #E9EFF4;
      max-width: 600px;
      width: fit-content;
      position: relative;
      margin: 15px 10px;
      word-break: break-all; }
    .admin-chat .userChat #messages li:after {
      content: "";
      width: 20px;
      height: 12px;
      display: block;
      background-image: url("/images/icon/icon-gray-message.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      bottom: -2px;
      left: -5px; }
    .admin-chat .userChat .hide {
      display: none; }
    .admin-chat .userChat .show {
      display: block; }

/*====================================================*/
/*====================================================*/
.my-pieces-cards {
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-self: center;
  margin: 0 auto; }
  .my-pieces-cards .card {
    background-color: #fff;
    margin-bottom: 1.6rem;
    width: 282px;
    height: fit-content; }
    .my-pieces-cards .card .card__image {
      min-height: 100px;
      background-color: #eee; }
    .my-pieces-cards .card .card__image img {
      width: 100%;
      max-width: 100%;
      display: block; }
  .my-pieces-cards .radius {
    border-radius: 2px; }
    .my-pieces-cards .radius .border-tlr-radius {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px; }
  .my-pieces-cards .shadowDepth1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .my-pieces-cards .card__padding {
    padding: 0.8rem; }
  .my-pieces-cards .card__content {
    position: relative; }
    .my-pieces-cards .card__content .piece-card-content .piece-card-media {
      font-size: 12px;
      font-weight: 600;
      color: #8091A5; }
    .my-pieces-cards .card__content .piece-card-content .piece-card-title {
      font-size: 14px;
      line-height: 18px;
      margin: 0 0 20px 0; }
    .my-pieces-cards .card__content .piece-card-content .piece-card-artistPrice {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 10px 0; }
      .my-pieces-cards .card__content .piece-card-content .piece-card-artistPrice h3 {
        font-size: 18px;
        line-height: 1; }
    .my-pieces-cards .card__content .piece-card-content .piece-card-materialSize {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0; }
      .my-pieces-cards .card__content .piece-card-content .piece-card-materialSize p {
        font-size: 12px;
        line-height: 1; }
    .my-pieces-cards .card__content .piece-card-content .card-line {
      height: 1px;
      width: 100%;
      background-color: #E9EFF4;
      margin: 10px 0; }
    .my-pieces-cards .card__content .piece-card-content span {
      color: #FFBCBC;
      margin-left: 6px;
      font-size: 14px;
      font-weight: 600; }

/*====================================================*/
/*====================================================*/
.sendSms {
  width: 100%;
  background-color: rgba(40, 56, 73, 0.5);
  padding-bottom: 85px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100px; }

.formSendSms {
  width: 720px;
  margin-top: 55px;
  background-color: #FFFFFF; }
  .formSendSms .formSignUp__header {
    width: 100%;
    height: 135px;
    padding-top: 30px;
    background-color: #F9FDFF;
    position: relative; }
    .formSendSms .formSignUp__header__close {
      position: absolute;
      top: 30px;
      right: 30px; }
    .formSendSms .formSignUp__header__logo {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      background-image: url("/images/logo/logoBox.svg");
      background-repeat: no-repeat;
      background-size: cover; }
    .formSendSms .formSignUp__header h2 {
      text-align: center;
      font-size: 20px; }
  .formSendSms .signUpForm {
    width: 70%;
    margin: 65px 15%; }
  .formSendSms input {
    width: 100%;
    height: 35px;
    margin: 14px 0;
    border: none;
    border-bottom: 1px solid #DFE6EE;
    outline: none; }
  .formSendSms textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #DFE6EE;
    outline: none; }
  .formSendSms .h5 {
    font-weight: 400; }
  .formSendSms .signUpTwoInLine {
    width: 100%;
    display: inline-flex; }
    .formSendSms .signUpTwoInLine input {
      width: 48%; }
      .formSendSms .signUpTwoInLine input:first-child {
        margin-right: 4%; }
  .formSendSms button {
    width: 100%;
    margin-top: 25px; }

/*====================================================*/
/*====================================================*/
.footer {
  background-color: #f9fdff;
  border-top: 1px solid #E9EFF4; }
  .footer .footerToolbar {
    height: 165px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 0 auto; }
    .footer .footerToolbar .footer-newsletter input {
      width: 480px;
      height: 38px;
      border: 1px solid #E9EFF4;
      margin-top: 10px;
      outline: none;
      text-indent: 10px; }
    .footer .footerToolbar .footer-newsletter input::-webkit-input-placeholder {
      text-indent: 10px; }
    .footer .footerToolbar .footer-nav {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 47px; }
      .footer .footerToolbar .footer-nav p {
        font-size: 14px; }
      .footer .footerToolbar .footer-nav .footer-social-media a {
        margin: 0 20px; }

/*====================================================*/
/*====================================================*/
.admin-page {
  width: 100vw;
  background: #F9fdff;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px; }
  .admin-page .front-artist {
    width: 100%;
    height: 800px; }
    .admin-page .front-artist .divWhiteBox {
      height: 700px;
      margin: 0 auto; }
      .admin-page .front-artist .divWhiteBox .user-social {
        margin-left: 70px;
        margin-bottom: 40px;
        width: 180px;
        display: flex;
        justify-content: space-between; }
      .admin-page .front-artist .divWhiteBox .user-info {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 70px;
        margin-right: 70px; }
        .admin-page .front-artist .divWhiteBox .user-info .user-email-phone {
          width: 340px;
          display: flex;
          justify-content: space-between; }
          .admin-page .front-artist .divWhiteBox .user-info .user-email-phone .user-email, .admin-page .front-artist .divWhiteBox .user-info .user-email-phone .user-phone {
            display: flex; }
            .admin-page .front-artist .divWhiteBox .user-info .user-email-phone .user-email p, .admin-page .front-artist .divWhiteBox .user-info .user-email-phone .user-phone p {
              text-indent: 10px;
              font-size: 15px; }
      .admin-page .front-artist .divWhiteBox .front-artist-intro {
        width: 100%;
        height: 500px;
        position: relative;
        display: inline-flex; }
        .admin-page .front-artist .divWhiteBox .front-artist-intro .front-artist-info {
          max-width: 350px;
          margin-top: 60px;
          margin-left: 70px; }
          .admin-page .front-artist .divWhiteBox .front-artist-intro .front-artist-info p {
            font-size: 16px;
            line-height: 26px; }
        .admin-page .front-artist .divWhiteBox .front-artist-intro .front-artist-images {
          width: 800px;
          height: 504px;
          background-image: url("/images/artists/minervaBrown.png");
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: -40px;
          right: -160px; }

/*====================================================*/
/*====================================================*/
.admin-header {
  width: 100%;
  background: #283849;
  height: 60px; }
  .admin-header .admin-navbar-items {
    display: flex;
    flex-flow: row;
    justify-content: flex-end; }

/*====================================================*/

/*# sourceMappingURL=style.css.map */
