.my-pieces-cards {
    width: 90%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-self: center;
    margin: 0 auto;
    .card {
        background-color: #fff;
        margin-bottom: 1.6rem;
        width: 282px;
        height: fit-content;
        .card__image {
            min-height: 100px;
            background-color: #eee;
          }
          .card__image img {
            width: 100%;
            max-width: 100%;
            display: block;
          }
          
      }
    .radius {
        border-radius: 2px;
        .border-tlr-radius {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
    }
    .shadowDepth1 {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .card__padding {
        padding: 0.8rem;
    }  
    .card__content {
        position: relative;
        .piece-card-content {
            .piece-card-media {
                    font-size: 12px;
                    font-weight: 600;
                    color: $lightBlue;
            }
            .piece-card-title {
                    font-size: 14px;
                    line-height: 18px;
                    margin: 0 0 20px 0;
            }
            .piece-card-artistPrice {
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;
                margin: 0 0 10px 0;
                h3 {
                    font-size: 18px;
                    line-height: 1;
                }
            }
            .piece-card-materialSize {
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                align-items: center;
                margin: 10px 0;
                p {
                    font-size: 12px;
                    line-height: 1;
                }
            }
            .card-line {
                height: 1px;
                width: 100%;
                background-color: $lineBlue;
                margin: 10px 0;
            }
            span {
                color: $pink;
                margin-left: 6px;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }   
}


  